@model ItemCreateIM

<form id="adminCreate" enctype="multipart/form-data" method="post"
      asp-area="Admin" asp-controller="Item" asp-action="Create">
    <div>
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" placeholder="The Item Title Is Required" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description">Enter The Item Description. It's Required</textarea>
    </div>
    <div>
        <label asp-for="Type"></label>
        <input asp-for="Type" placeholder="The Item Type" />
    </div>
    <div>
        <label asp-for="CommercialType"></label>
        <input asp-for="CommercialType" placeholder="Gift, Personal Or For Sale" />
    </div>
    <div>
        <label asp-for="Size"></label>
        <input asp-for="Size" placeholder="S, M, L, XL - Required" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input type="number" asp-for="Price" placeholder="$0.00 - $100.00 - Required" />
    </div>
    <div>
        <label asp-for="Quantity"></label>
        <input type="number" asp-for="Quantity" placeholder="Minimum 1" />
    </div>
    @*<div>
            <label asp-for="Images"></label>
            <input type="file" asp-for="Images" id="files" name="files" multiple>
        </div>*@
    <div>
        <dl style="color:black">
            <dt>
                <label asp-for="Images"></label>
            </dt>
            <dd>
                <input type="file" asp-for="Images" multiple>
                <span asp-validation-for="Images"></span>
            </dd>
        </dl>
    </div>
    <input type="submit" />
</form>