@model IEnumerable<ItemVM>

@{
    ViewData["Title"] = "Home Page";
}

<div id="homeIndex" class="text-center">
    <h1 class="display-4">Neurographics</h1>
    
    <div class="itemListing">
        <figure>
            <img src="~/images/NG_Logo_WhiteBckgrnd.png" alt="My my"/>
            <figcaption>
                <a><h4><b>Title:&nbsp;</b>My Calm Mind</h4></a>
                <a><h4><b>Size:&nbsp;</b>S</h4></a>
                <a><h4><b>Price:&nbsp;</b>$30</h4></a>
            </figcaption>
        </figure>
        @*<div class="imageHolder">
        </div>
        <a><h4><b>Title:&nbsp;</b>My Calm Mind</h4></a>
        <a><h4><b>Size:&nbsp;</b>S</h4></a>
        <a><h4><b>Price:&nbsp;</b>$30</h4></a>*@
    </div>
    <div class="itemListing">
        <a><h4><b>Title:&nbsp;</b>My Personal Affairs&ndash;One</h4></a>
        <a><h4><b>Size:&nbsp;</b>S</h4></a>
        <a><h4><b>Price:&nbsp;</b>$30.00</h4></a>
    </div>
    <div class="itemListing">
        <a><h4><b>Title:&nbsp;</b>Full Stack Of Success</h4></a>
        <a><h4><b>Size:&nbsp;</b>S</h4></a>
        <a><h4><b>Price:&nbsp;</b>$30.00</h4></a>
    </div>

    @*@for (var i = 0; i < Model.Count() - 1; i += 4)
        {
            for(var j = i; j < i + 4; j++)
            {
                <div class="itemListing">
                    <a><h4><b>Title:&nbsp;</b>@Model.ElementAt(j).Title</h4></a>
                    <a><h4><b>Size:&nbsp;</b>@Model.ElementAt(j).Size</h4></a>
                    <a><h4><b>Price:&nbsp;</b>@Model.ElementAt(j).Price</h4></a>
                </div>
            }
        }*@
</div>
