@{
    ViewData["Title"] = "About";
    int myAge = DateTime.UtcNow.Year - 1975;
}

<div class="details">
    <h1>Nelly Ifandieva</h1>
    <figure>
        <img src="~/images/NellyIfandieva_portrait.jpg" />
        <figcaption>
            <p>
                Hi, I'm Nelly, @myAge-years-old, born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                <br /><br />
                Hi, I'm Nelly, @myAge-years-old, born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. Hi, I'm Nelly, @myAge-years-old, born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. Hi, I'm Nelly, @myAge-years-old, born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                <br /><br />
                Hi, I'm Nelly, @myAge-years-old, born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.Hi, I'm Nelly, @myAge-years-old, born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria. born and living in Sofia, Bulgaria.
                <br /><br />
                Hi, I'm Nelly, bla-bla-bla.
            </p>
        </figcaption>
    </figure>
</div>